body {
    background-color: black;
}
.container {
background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 500px;
  height: 675px;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  padding: 0;
}
.header {
   display: flex;
   flex-direction: row;
   margin-left: auto;
   margin-right: auto;
   margin-top: 13px;
   margin-bottom: 0;
   font-weight: bolder;
}
h4 {
   padding-top: 2px;
   margin-top: 20px;
   margin-bottom: 0px;
   font-weight: 1000;
   font-size: 22px;
}
.myName {
    margin-top: 0px;
   margin-bottom: 20px;
   padding-bottom: 0px;
   font-size: 15px;
}
.image img {
    height: auto;
    width: 100%;
}
.icons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 1.9em;
    display: flex;
   flex-direction: row;
}
.heart {
    margin-left: 10px;
}
.comment {
    margin-left: 12px;
}
.plane {
    margin-left: 11px;
}
.likes {
    display: block;
    font-size: 15px;
    margin-top: 5px;
    margin-left: 6px;
}
.description {
    display: block;
    margin-left: 6px;
    margin-right: auto;
    margin-top: 8px;
    font-size: 15px;
}
.username {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 1000;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.postName {
    font-weight: bolder;
    margin-left: 10px;
}
.menuIcon {
    margin-left: auto;
    margin-right: 15px;
    margin-top: 25px;
    font-size: 1.8em;
}
.htmlIcon {
    margin-top: 23px;
    font-size: 2em;
    margin-left: 18px;
}
.postName h4 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-weight: 1000;
}
.bookMark {
    margin-left: auto;
    margin-right: 18px;
}
.words {
    padding: 10px;
}
.username {
    font-weight: bolder;
}