body {
    background-color: black;
}
.container {
background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 500px;
  height: 650px;
  font-family: 'Open Sans', sans-serif;
  font-size: large;
  padding: 0;
}
.header {
   display: flex;
   flex-direction: row;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   font-weight: bolder;
}
.image img {
    height: auto;
    width: 100%;
}
.icons {
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    font-size: 2em;
    display: flex;
   flex-direction: row;
}
.likes {
    display: block;
    font-size: small;
}
.description {
    display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: small;
}
.username {
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.postName {
    font-weight: bolder;
    margin-left: 10px;
}
.menuIcon {
    margin-left: auto;
    margin-top: 10px;
    font-size: 1.5em;
}
.htmlIcon {
    margin-top: 10px;
    font-size: 2em;
}
.postName h4 {
    margin-bottom: 0px;
}
.p {

}
.bookMark {
    margin-left: auto;
}
.words {
    padding: 10px;
}